<div class="back">
    <div class="container">
        <div class="row fw-bold">
            <div class="col-6">
                <h3 class="text-white">ABOUT</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sequi odit qui consequatur maxime dolor adipisci quaerat in necessitatibus ullam, dolorum, consequuntur odio doloremque impedit at veniam itaque laboriosam! In.
                Doloribus nemo hic sequi adipisci, quod quasi similique aut animi laudantium quam a rem delectus voluptates molestiae, deserunt numquam neque. 
                </div>
            <div class="col">
                <h3 class="text-white">CATEGORIES</h3>
                <ul>
                    <li>ONLINE COURSES</li>
                    <li>SOFTWARE TRAINING</li>
                    <li>JOB</li>
                    <li>OTHER SERVICES</li>
                    <li>CONTACT US</li>
                </ul>
            </div>
            <div class="col">
                <h3 class="text-white">QUICK LINKS</h3>
                <ul>
                    <li><a href="">ABOUT US</a></li>
                    <li><a href="">CONTACT US</a></li>
                    <li><a href="">SITEMOP</a></li>
                    <li><a href="">PRIVACY POLICY</a></li>
                </ul>
            </div>
        </div>
        <div class="another">
            <p>© 2024 All rights reserved</p>
        </div>
    </div>
</div>
