<div class="container mb-5 mt-5 back">
    <div class="photo">
        <div class="cent">
            <h1>ABOUT US</h1>
        </div>
    </div>
    <div class="container p-3">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-5 col-md-6 col-sm-12 mb-4">
                <h1 class="text-center">BEHIND THE SUCCESS</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus soluta id obcaecati beatae excepturi
                    officia recusandae eius saepe a in! Facere ex a repellendus quisquam reiciendis. Alias reiciendis
                    aliquid numquam.
                    Debitis eligendi ipsam ab. Esse laudantium impedit maiores quia officia non, cum eligendi nesciunt
                    consequatur ducimus incidunt expedita debitis ratione magnam quibusdam perspiciatis, et iste. Ipsum
                    architecto sed ut aliquam?</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                <img src="./assets/avataaars.png" alt="error" class="img-fluid">
                <div class="mt-3">
                    <h2>John wick</h2>
                    <h5>Founder, CEO - Random</h5>
                    <p>Company Inc</p>
                </div>
            </div>
        </div>
    </div>
</div>
