<div class="back">
    <div class="container pt-3 pb-5">
        <div class="text-center text-light pt-3">
            <h1>What our customers think</h1>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 mb-3">
                <div class="flo d-flex justify-content-center">
                    <img src="./assets/avataaars.png" alt="error" class="img-fluid">
                </div>
                <div class="content mt-3 fw-bold text-center">
                    <h2 class="text-light">John Wick</h2>
                    <p class="text-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet quis natus explicabo commodi qui culpa voluptatibus </p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="flo d-flex justify-content-center">
                    <img src="./assets/avataaars.png" alt="error" class="img-fluid">
                </div>
                <div class="content mt-3 fw-bold text-center">
                    <h2 class="text-light">John Wick</h2>
                    <p class="text-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet quis natus explicabo commodi qui culpa voluptatibus </p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="flo d-flex justify-content-center">
                    <img src="./assets/avataaars.png" alt="error" class="img-fluid">
                </div>
                <div class="content mt-3 fw-bold text-center">
                    <h2 class="text-light">John Wick</h2>
                    <p class="text-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet quis natus explicabo commodi qui culpa voluptatibus </p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="flo d-flex justify-content-center">
                    <img src="./assets/avataaars.png" alt="error" class="img-fluid">
                </div>
                <div class="content mt-3 fw-bold text-center">
                    <h2 class="text-light">John Wick</h2>
                    <p class="text-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet quis natus explicabo commodi qui culpa voluptatibus </p>
                </div>
            </div>
        </div>
    </div>
</div>
