.back{
    background-color: rgb(18, 16, 16);
}
img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.back .flo{
    float: left;
    margin-right: 20px;
}
p{
    color: rgb(77, 76, 76);
}