<div class="back">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <h3 class="text-white">Learn coding in easy step by step way.</h3>
                <p class="mt-4 text-light fw-bold">Lorem ipsum,Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores consectetur officiis sint nemo! Sapiente rerum recusandae facilis consequatur, esse ducimus necessitatibus est eius. Dolores esse officia iste id, porro sequi. dolor sit amet consectetur adipisicing elit. Voluptatibus, provident sed voluptas corporis totam vero ducimus ab explicabo iure? Ipsum quis eligendi adipisci quod enim perspiciatis a et iste distinctio!</p>
                <div class="mt-5 text-center">
                    <input type="text" class="form-control mb-3" placeholder="Search..." id="searchbar" #searchBar/>
                    <button type="button" (click)="onButtonClick(searchBar.value)" class="btn btn-outline-danger btn-lg">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
